@model EntityChangeTracking_AspNetCore_3._0.Models.Example

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Example</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
